
TennisScore/TennisScore/obj/Debug/netcoreapp3.1/

TennisScore/TennisScore/obj/

TennisScore/.vs/TennisScore/v16/.suo

TennisScore/TennisScore.sln.DotSettings.user

TennisScore/TennisScore/bin/Debug/netcoreapp3.1/cs/

TennisScore/TennisScore/bin/Debug/netcoreapp3.1/de/

TennisScore/TennisScore/bin/Debug/netcoreapp3.1/es/

TennisScore/TennisScore/bin/Debug/netcoreapp3.1/fr/

TennisScore/TennisScore/bin/Debug/netcoreapp3.1/it/

TennisScore/TennisScore/bin/Debug/netcoreapp3.1/ja/

TennisScore/TennisScore/bin/Debug/netcoreapp3.1/ko/

TennisScore/TennisScore/bin/Debug/netcoreapp3.1/
